.prettierignore
.prettierrc
bun.lockb
build.js
dist/compressed/alignment.css
dist/compressed/border.css
dist/compressed/flexbox.css
dist/compressed/form.css
dist/compressed/gap.css
dist/compressed/helper.css
dist/compressed/layout.css
dist/compressed/position.css
dist/compressed/reset.css
dist/compressed/spacing.css
dist/compressed/transition.css
dist/compressed/typography.css
dist/expanded/*
node_modules
public/*
sass/*
vite.config.js
!dist/compressed/main.css