:is(body) {
	font-family: var(--font-family-text);
	font-weight: var(--font-weight-text);
	color: var(--text-color);
	line-height: var(--font-line-height);
}

:is(code) {
	font-family: var(--font-family-code);
	font-weight: var(--font-weight-code);
	color: var(--code-color);
	line-height: var(--font-line-height);
}

small {
	font-size: var(--small-size);
}
